{% extends 'base.html' %}
{% load static %}

{% block title %}Martillos - Ferramas{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>Martillos</h1>

    {% if total_quantity > 0 %}
        <p>Tienes {{ total_quantity }} productos en tu carrito.</p>
    {% endif %}

    <div class="card-group">
        {% for martillos in martillos %}
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                <img src="{{ martillos.image.url }}" class="card-img-top" alt="{{ martillos.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ martillos.name }}</h5>
                    <p class="card-text">{{ martillos.description }}</p>
                    <p class="card-text">${{ martillos.price }}</p>
                    <form class="add-to-cart-form" method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ martillos.id }}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="btn btn-primary">Añadir al Carrito</button>
                    </form>
                    <div class="cart-message mt-2"></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Producto añadido al carrito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.add-to-cart-form').submit(function(event) {
            event.preventDefault();  // Prevenir el comportamiento predeterminado del formulario
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                method: "POST",
                data: form.serialize(),  // Serializar los datos del formulario
                success: function(response) {
                    $('#successModal').modal('show');
                    setTimeout(function() {
                        $('#successModal').modal('hide');
                    }, 1000);  // Mostrar la modal por 1 segundo
                },
                error: function() {
                    alert('Error al añadir el producto al carrito.');
                }
            });
        });
    });
</script>

{% endblock %}
